<app-header></app-header>


<!-- TOAST -->
<div id="modalToast" class="float-sm-left fade show toast mt-5 ml-3" *ngIf="status == 'success'">
    <div class="" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Mensaje</strong>
            <small>1 mins ago</small>
            <button (click)="closeToast()" type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="toast-body">
            Producto agregado al carrito!
            <a [routerLink]="['/cart']">Puedes verlo aquí.</a>
        </div>
    </div>

</div>
<!-- TOAST -->

<div class="container" *ngIf="product">
    <!--Section: Content-->
    <section class="text-center">

        <!-- Section heading -->
        <div class="row mt-5 mb- pt-3">

            <!-- Columna izquierda foto -->
            <div class="col-lg-7">
                <!--Carousel Wrapper-->
                <div id="carousel-thumb1" class="carousel slide carousel-fade carousel-thumbnails mb-5 pb-4"
                    data-ride="carousel">

                    <!--Slides-->
                    <div class="carousel-inner text-center text-md-left" role="listbox">
                        <div class="carousel-item active">
                            <img src="{{product.image}}" alt="First slide"
                                class="img image-product pl-2 pr-5 pb-5 product-image">
                        </div>
                    </div>
                    <!--/.Slides-->
                    <!--Thumbnails-->
                    <!-- <a class="carousel-control-prev" href="#carousel-thumb1" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-thumb1" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a> -->
                    <!--/.Thumbnails-->
                </div>
            </div>
            <!-- Columna izquierda foto -->

            <!-- Columna derecha info -->
            <div class="col-lg-5 text-center text-md-left">
                <h2
                    class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
                    {{product.name}}</h2>

                <!-- Si hay stock -->
                <span class="badge badge-primary product mb-4 ml-xl-0 ml-4">¡EN STOCK!</span>
                <!-- Si está en oferta -->
                <span class="badge badge-secondary product mb-4 ml-2" *ngIf="product.offer">OFERTA</span>
                <hr>
                <!-- Precio del producto -->
                <h2 class="h2-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">
                    <span class="red-text font-weight-bold">
                        <!-- Si el producto está en oferta -->
                        <span *ngIf="product.offer">
                            <strong>$ {{product.offer}}</strong>
                            <span class="grey-text ml-1">
                                <small>
                                    <s>$ {{product.price}}</s>
                                </small>
                            </span>
                        </span>
                        <!-- Si el producto no está en oferta -->
                        <span *ngIf="!product.offer">
                            <strong>$ {{product.price}}</strong>
                        </span>
                    </span>
                </h2>

                <!-- Description -->
                <div class="font-weight-normal mb-4">
                    <p class="ml-xl-0 ml-4">{{product.description}}</p>
                </div>
                <hr>
                <!-- Muestra talles disponibles -->
                <!-- <p class="grey-text">Talles disponibles: <br></p>
                <div class="form-row mb-5 mx-3">
                    <div class="row text-center">
                        <div *ngFor="let talle of tallesAndStock" class="mr-2 pr-1">
                            <a class="badge badge-info">{{talle}}</a>
                        </div>
                    </div>
                </div> -->
                <!-- <p class="grey-text mt-5">Selecciona un Talle</p>
                <div class="row">

                    <div class="col text-left mt-0">
                        <div class="row">

                            <select class="form-control browser-default custom-select " type="spinner" id="talle"
                                required>

                                <option value="-- Añadir categoría --">-- Talle --</option>
                                <option value="{{talle}}" name="category" *ngFor="let talle of tallesAndStock">
                                    {{talle}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div> -->
                <button class="btn btn-primary btn-rounded mt-0 col" (click)="addToCart(product._id)">
                    <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> Agregar al carrito
                </button>
            </div>
            <!-- Columna derecha info -->
        </div>

    </section>
    <!--Section: Content-->
</div>

<div class="container">
    <!--Section: Content-->
    <section class="text-center">

        <!-- Section heading -->
        <h3 class="font-weight-bold mb-4 pb-2">Productos relacionados</h3>
        <!-- Section description -->
        <p class="grey-text w-responsive mx-auto mb-4">Quienes vieron este producto, tambien vieron:</p>
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 card-product-grid" *ngFor="let product of productsRelacionados">
                <a [routerLink]="['/detail-product', product._id]" class=" waves-effect waves-light"><img
                        src="{{product.image}}" class="img-fluid" alt=""></a>

                <h1 class="mb-1 mt-2 h6"><a [routerLink]="['/detail-product', product._id]"
                        class="font-weight-bold black-text pt-2">{{product.name}}</a></h1>

                <div class="price h5 mt-1">
                    <span *ngIf="product.offer">
                        <small class="mr-1"><s>${{product.price}}</s></small>
                        <strong>${{product.offer}}</strong>
                    </span>

                    <span *ngIf="!product.offer">
                        <strong>${{product.price}}</strong>
                    </span>
                    <!-- ${{product.price}} -->
                </div>


                <span class="badge badge-pill badge-primary m-1">En Stock</span>
                <span class="badge badge-pill badge-secondary m-1" *ngIf="product.offer">¡OFERTA!</span>
                <br>

                <div class="mt-2">
                    <button class="btn btn-outline-primary btn-sm mx-1" [routerLink]="['/detail-product', product._id]">
                        <i class="far fa-eye"></i>
                        Detalle
                    </button>
                    <button class="btn btn-secondary btn-sm mx-1" (click)="addToCart(product._id)">
                        <i class="fas fa-cart-plus"></i>
                        Agregar
                    </button>

                </div>

            </div>
            <!--Grid column-->
        </div>
    </section>
</div>

<app-footer></app-footer>