<app-header></app-header>
<div class="container" *ngIf="sale">


  <!-- TOAST -->
  <div class="alert alert-success" *ngIf="status == 'succes'">
    La compra se ha concretado correctamente.
  </div>
  <div class="alert alert-danger" *ngIf="status == 'failed'">
    La compra no se ha podido concretar.
  </div>
  <!-- TOAST -->

  <div class="row my-4">
    <div class="col-md-7 col-sm-12 py-3">
      <div class="card card-list">
        <div class="card-header white d-flex justify-content-between align-items-center py-3">
          <p class="h5-responsive font-weight-bold mb-0">Tu carrito</p>
        </div>
        <div class="card-body mb-5">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th class="font-weight-bold">Producto</th>
                <th class="font-weight-bold">Talle</th>
                <th></th>
                <th class="font-weight-bold">Precio</th>
                <th></th>
              </tr>
            </thead>

            <!-- BODY -->
            <tbody>

              <!-- Product row -->
              <tr id="cart-list" *ngFor="let product of products">
                <th scope="row" *ngIf="product.image">
                  <img src="{{product.image}}" alt="" class="img-fluid z-depth-0 image-product-cart">
                </th>
                <td class="h5 mt-3">{{product.name}}</td>
                <td class="h5 mt-4">{{product.stockTalles}}</td>
                <td></td>
                <td class="h5 font-weight-bold mt-4">
                  <span *ngIf="!product.offer">${{product.price}}</span>
                  <span *ngIf="product.offer">${{product.offer}}</span>
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
                    value="product._id" title="Remove item" (click)="removeItemToCart(product._id)">X
                  </button>
                </td>
              </tr>
              <!-- /.Product row -->
            </tbody>
          </table>
        </div>
        <div class="card-footer white py-3 d-flex justify-content-between">
          <p class="h4 mt-2">Total ${{totalSell}}</p>
        </div>
      </div>
    </div>

    <!-- Datos de la compra -->
    <div class="card col-md-5 col-sm-12 mx-auto my-3 py-3 px-3">
      <form action="#!" #saleForm="ngForm" (ngSubmit)="onSubmit(saleForm)">

        <!-- TITULO DE LOS DATOS DE LA COMPRA -->
        <h5>Datos de la compra</h5>
        <hr>

        <div class="row">
          <!-- NOMBRE -->
          <div class="col-md-6 mb-4">
            <label for="firstName" class="">Nombre</label>
            <input type="text" id="firstName" class="form-control" name="nameClient" #nameClient="ngModel"
              [(ngModel)]="sale.nameClient" required>
            <span class="form_error text-small text-danger" *ngIf="nameClient.touched && !nameClient.valid">
              El nombre es obligatorio
            </span>
          </div>
          <!-- NOMBRE -->

          <!-- TELEFONO -->
          <div class="col-md-6 mb-2">
            <label for="lastName" class="">Telefono</label>
            <input type="number" id="lastName" class="form-control" name="phoneClient" #phoneClient="ngModel"
              [(ngModel)]="sale.phoneClient" required>
            <span class="form_error text-small text-danger" *ngIf="phoneClient.touched && !phoneClient.valid">
              El telefono es obligatorio
            </span>
          </div>
          <!-- TELEFONO -->

        </div>

        <!-- E-MAIL -->
        <label for="email" class="">Email</label>
        <input type="text" id="email" class="form-control mb-4" placeholder="youremail@example.com" name="emailClient"
          #emailClient="ngModel" [(ngModel)]="sale.emailClient" required>
        <span class="form_error text-small text-danger" *ngIf="emailClient.touched && !emailClient.valid">
          El mail es obligatorio
        </span>
        <!-- E-MAIL -->


        <!-- ENVIO -->
        <hr>
        <h6 class="mt-3">Envío de la compra</h6>
        <hr>

        <div class="">

          <!-- RETIRO PERSONALMENTE -->
          <div class="custom-control custom-radio mb-2">

            <input value="retiro-personal" type="radio" id="customRadio1" name="customRadio"
              class="custom-control-input" name="shipping" #shipping="ngModel" [(ngModel)]="sale.shipping" checked
              required>

            <label class="custom-control-label" for="customRadio1">
              Retiro personalmente
            </label>

          </div>
          <!-- RETIRO PERSONALMENTE -->

          <!-- ENVIO A DOMICILIO -->
          <div class="custom-control custom-radio">

            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" value="domicilio"
              name="shipping" #shipping="ngModel" [(ngModel)]="sale.shipping" required>

            <label class="custom-control-label" for="customRadio2">
              Envío a domicilio
            </label>

            <br>
          </div>
          <span class="mt-3" *ngIf="sale.shipping == 'domicilio'">
            <div class="visible">

              <!-- DIRECCION -->
              <label for="firstName" class="mt-3">Dirección</label>
              <input type="text" id="firstName" class="form-control" name="address" #address="ngModel"
                [(ngModel)]="sale.address" required>
              <span class="form_error text-small text-danger" *ngIf="address.touched && !address.valid">
                La dirección es obligatoria
              </span>

              <div class="row mt-2">
                <!-- CIUDAD -->
                <div class="col-md-6 mb-4">
                  <label for="firstName" class="">Ciudad</label>
                  <input type="text" id="firstName" class="form-control" name="city" #city="ngModel"
                    [(ngModel)]="sale.city" required>
                  <span class="form_error text-small text-danger" *ngIf="city.touched && !city.valid">
                    La Ciudad es obligatoria
                  </span>
                </div>

                <!-- CIUDAD -->
                <!-- PROVINCIA -->
                <div class="col-md-6 mb-2">
                  <label for="lastName" class="">Provincia</label>
                  <input type="text" id="lastName" class="form-control" value="Entre Rios" name="state" #state="ngModel"
                    [(ngModel)]="sale.state" required>
                  <span class="form_error text-small text-danger" *ngIf="state.touched && !state.valid">
                    La Provincia es obligatoria
                  </span>
                </div>
                <!-- PROVINCIA -->
              </div>

              <!-- DIRECCION -->
            </div>

          </span>
          <!-- ENVIO A DOMICILIO -->

        </div>
        <!-- Envio -->

        <!-- Pago -->
        <hr>
        <h6 class="mt-3">Modo de pago</h6>
        <hr>

        <div class="d-block my-3">
          <div *ngIf="sale.shipping == 'retiro-personal'" class="visible custom-control custom-radio mb-2">
            <input type="radio" id="customRadio3" name="customRadio2" class="custom-control-input" value="efectivo"
              name="pay" #pay="ngModel" [(ngModel)]="sale.pay" checked required>
            <label class="custom-control-label" for="customRadio3">Efectivo al retirar</label>
            <p class="text-info text-small" *ngIf="sale.pay == 'efectivo'">
              Una vez el producto esté preparado, podrás acercarte al negocio para abonar tu compra.
            </p>
          </div>

          <div class="custom-control custom-radio mb-2">
            <input type="radio" id="customRadio4" name="customRadio2" class="custom-control-input" value="transferencia"
              name="pay" #pay="ngModel" [(ngModel)]="sale.pay" required>
            <label class="custom-control-label" for="customRadio4">Transferencia</label>
            <p class="text-info text-small" *ngIf="sale.pay == 'transferencia'">
              Una vez finalices tu compra, te aparecera el nombre de la cuenta y el CBU para abonar.
            </p>
          </div>

          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio5" name="customRadio2" class="custom-control-input" value="linkpagos"
              name="pay" #pay="ngModel" [(ngModel)]="sale.pay" required>
            <label class="custom-control-label" for="customRadio5">Tarjeta en cuotas</label>
            <p class="text-info text-small" *ngIf="sale.pay == 'linkpagos'">
              Una vez finalices tu compra, te enviaremos al mail un link pagos para que puedas pagar con la tarjeta que
              prefieras!.
            </p>
          </div>
        </div>
        <!-- Pago -->

        <div class="d-block my-3">
          <p class="text-black-50 text-small">Al hacer click en Finalizar compra, aceptas nuestros <a
              href="/terminos-y-condiciones" target="_blank">términos y condiciones.</a> Los datos completados en este
            formulario son solo utilizados
            para contactarnos luego de la compra. Uba vez finalizado el proceso de compra, son desestimados.</p>
        </div>

        <!-- SUBMIT -->
        <div class="">
          <button type="submit" class="btn btn-primary mx-auto my-3 py-3 z-depth-1 rounded btn-rounded col-12"
            [disabled]="!saleForm.form.valid">Finalizar compra
            <i class="fas fa-angle-right right"></i>
          </button>
        </div>
        <!-- SUBMIT -->

      </form>

    </div>

  </div>

</div>