<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Administración</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/admin/products">
                <i class="fas fa-shopping-bag mr-1 pr-1"></i> Lista de productos
            </a>
            <a mat-list-item routerLink="/admin/sales">
                <i class="fas fa-money-bill-wave mr-3"></i> Ventas
            </a>
            <!-- <a mat-list-item routerLink="/admin/banner">
                <i class="fas fa-images mr-3"></i> Banner
            </a> -->
            <!-- <a mat-list-item routerLink="/admin/shipping">
                <i class="fas fa-poll-h mr-3"></i> Envíos y pagos
            </a> -->
            <a mat-list-item routerLink="/admin/preferences">
                <i class="fas fa-poll-h mr-3"></i> Ajustes/Preferencias
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>LM-shop</span>
        </mat-toolbar>
        <div class="router">
            <router-outlet class="outlet"></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>