<app-header></app-header>
<!-- <app-navbar></app-navbar> -->
<app-slider></app-slider>

<section class="container my-3">
    <mat-card>
        <div class="row py-2">
            <div class="col-md-3 col-12 mx-auto my-auto text-center">
                <div class="row mx-auto">
                    <div class="col-md-2 col-2 mx-auto my-auto">
                        <mat-icon color="accent">credit_card</mat-icon>
                    </div>
                    <div class="col-md-10 col-10 mx-auto my-auto">
                        <h3 class="mx-auto my-auto">Tarjeta de crédito</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 mx-auto my-auto text-center">
                <div class="row mx-auto">
                    <div class="col-md-2 col-2 mx-auto my-auto">
                        <mat-icon color="accent">credit_card</mat-icon>
                    </div>
                    <div class="col-md-10 col-10 mx-auto my-auto">
                        <h3 class="mx-auto my-auto">Tarjeta de débito</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 mx-auto my-auto text-center">
                <div class="row mx-auto">
                    <div class="col-md-2 col-2 mx-auto my-auto">
                        <mat-icon color="accent">money</mat-icon>
                    </div>
                    <div class="col-md-10 col-10 mx-auto my-auto">
                        <h3 class="mx-auto my-auto">Efectivo</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 mx-auto my-auto text-center">
                <div class="row mx-auto">
                    <div class="col-md-2 col-2 mx-auto my-auto">
                        <mat-icon color="accent">add_circle</mat-icon>
                    </div>
                    <div class="col-md-10 col-10 mx-auto my-auto">
                        <h3 class="mx-auto my-auto">Más medios de pago</h3>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</section>

<app-popular-products></app-popular-products>

<app-categories-user></app-categories-user>

<section class="section-content padding-y-sm my-5">
    <div class="container">
        <article class="card card-body p-5 bg-secondary">
            <div class="row text-center">
                <div class="col-md-4">
                    <figure class="item-feature">
                        <span class="text-white"><i class="fa fa-2x fa-truck"></i></span>
                        <figcaption class="pt-3 text-white">
                            <h5 class="title">Envíos a todo el país</h5>
                            <p>A donde estés y por el transporte que vos quieras!</p>
                        </figcaption>
                    </figure>
                    <!-- iconbox // -->
                </div>
                <!-- col // -->
                <div class="col-md-4">
                    <figure class="item-feature">
                        <span class="text-white"><i class="far fa-2x fa-credit-card"></i></span>
                        <figcaption class="pt-3 text-white">
                            <h5 class="title">Tarjetas de crédito y débito</h5>
                            <p>Aceptamos todas las tarjetas. Pagá en cuotas y manejalo a tu manera.
                            </p>
                        </figcaption>
                    </figure>
                    <!-- iconbox // -->
                </div>
                <!-- col // -->
                <div class="col-md-4">
                    <figure class="item-feature">
                        <span class="text-white"><i class="fa fa-2x fa-lock"></i></span>
                        <figcaption class="pt-3 text-white">
                            <h5 class="title">Depósito bancario</h5>
                            <p>Aceptamos transferencias y depósitos bancarios.
                            </p>
                        </figcaption>
                    </figure>
                    <!-- iconbox // -->
                </div>
                <!-- col // -->
            </div>
        </article>

    </div>
    <!-- container .//  -->
</section>

<app-last-products></app-last-products>

<!-- <app-products></app-products> -->
<app-footer></app-footer>