<app-header></app-header>
<!-- <app-navbar></app-navbar> -->
<app-slider></app-slider>

<app-popular-products></app-popular-products>

<section class="section-content padding-y-sm my-5">
    <div class="container">
        <article class="card card-body p-5 bg-secondary">
            <div class="row text-center">
                <div class="col-md-4">
                    <figure class="item-feature">
                        <span class="text-white"><i class="fa fa-2x fa-truck"></i></span>
                        <figcaption class="pt-3 text-white">
                            <h5 class="title">Envíos a todo el país</h5>
                            <p>A donde estés y por el transporte que vos quieras!</p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <figure class="item-feature">
                        <span class="text-white"><i class="far fa-2x fa-credit-card"></i></span>
                        <figcaption class="pt-3 text-white">
                            <h5 class="title">Tarjetas de crédito y débito</h5>
                            <p>Aceptamos todas las tarjetas. Pagá en cuotas y manejalo a tu manera.
                            </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <figure class="item-feature">
                        <span class="text-white"><i class="fa fa-2x fa-lock"></i></span>
                        <figcaption class="pt-3 text-white">
                            <h5 class="title">Depósito bancario</h5>
                            <p>Aceptamos transferencias y depósitos bancarios.
                            </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </div> <!-- col // -->
            </div>
        </article>

    </div> <!-- container .//  -->
</section>

<app-categories-user></app-categories-user>
<!-- <app-products></app-products> -->
<app-footer></app-footer>