<header class="section-header bg-white">
    <nav class="navbar navbar-felina navbar-dark navbar-expand-lg bg-primary">
        <div class="container text-center">
            <button class="navbar-toggler mt-2 col-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-md-2 col-9 mx-auto cuadro-logo">
                <div class="logo text-center">
                    <img src="../../../assets/LOGO_LM3.png" routerLink="./inicio">
                </div>
            </div>
            <div class="collapse navbar-collapse col-md-10 mx-auto" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/']">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/products']">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Envíos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Medios de pago</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/terminos-y-condiciones']">Términos y condiciones
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav wasa">
                    <li class="nav-item">
                        <a href="https://wa.me/5493436113089" target="_blank" class="nav-link whatsapp">
                            <i class="fab fa-whatsapp"></i> +54 343 6113089
                        </a>
                    </li>
                    <li class="nav-item carrito my-auto mx-2">
                        <a [routerLink]="['/cart']">
                            <mat-icon class="text-white m-2">shopping_cart</mat-icon>
                            <!-- [matBadge]="total$ | async" matBadgeColor="accent"  -->
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div id="categorias" class="w-100 bg-secondary categories justify-content-center">
    <ul class="nav mr-auto justify-content-center">
        <li class="nav-item" *ngFor="let category of categories">
            <a class="nav-link text-uppercase" [routerLink]="['/products/' + category.name]">{{category.name}}</a>
        </li>
    </ul>
</div>