<!-- Section: Block Content -->
<section class="my-2">
    
    <div class="row">
        <div class="col-12">
            <div class="card card-list">
                <div class="card-header white d-flex justify-content-between align-items-center py-3">
                    <p class="h5-responsive font-weight-bold mb-0">Lista de Ventas</p>
                    <ul class="list-unstyled d-flex align-items-center mb-0">
                        <li><i class="far fa-window-minimize fa-sm pl-3"></i></li>
                        <li><i class="fas fa-times fa-sm pl-3"></i></li>
                    </ul>
                </div>
                <div class="card-body">
                    <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Comprador</th>
                            <th scope="col">Whatsapp</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Envio</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sale of sales">
                            <th scope="row"><a class="text-primary">{{sale.date}}</a></th>
                            <td>{{sale.nameClient}}</td>
                            <td>{{sale.phoneClient}}</td>
                            <td>{{sale.emailClient}}</td>
                            <td>
                                <span *ngIf="sale.shipping == 'domicilio'">A domicilio</span>
                                <span *ngIf="sale.shipping == 'retiro-personal'">Retira por local</span>
                            </td>
                            <td>
                                <span *ngIf="sale.status == 'proceso'" class="badge badge-danger">
                                    En proceso
                                </span>
                                <span *ngIf="sale.status == 'preparado'" class="badge badge-warning">
                                    Preparado
                                </span>
                                <span *ngIf="sale.status == 'despachado'" class="badge badge-info">
                                    En camino
                                </span>
                                <span *ngIf="sale.status == 'entregado'" class="badge badge-success">
                                    Entregado
                                </span>
                            </td>                           
                            <td>$ {{sale.total}}</td>
                            <td>
                                <!-- <i class="fas fa-edit" [routerLink]="['edit-product', product._id]"></i> -->
                                <i class="fas fa-pencil-alt ml-1 icon-action" [routerLink]="['edit-sale', sale._id]"></i>
                                <i class="fas fa-eye ml-2 icon-action" [routerLink]="['view-sale', sale._id]"></i>
                                <i class="fas fa-trash-alt ml-2 icon-action" (click)="deleteSale(sale._id)"></i>
                            </td>
                            
                        </tr>
                        
                    </tbody>
                    </table>
                </div>
            <!-- <div class="card-footer white py-3 d-flex justify-content-between">
                <button data-toggle="modal" data-target="#newProductModal" class="btn btn-primary btn-md px-3 my-0 mr-0"><i class="fas fa-plus mr-2"></i> Nuevo producto</button>
            </div> -->
            </div>
        </div>
    </div>

</section>
<!-- Section: Block Content -->



<!-- Edit sale Modal -->
<div class="modal fade" id="viewSaleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-xl" role="document">
  
  
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Nuevo producto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reloadComponent()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <app-add-product></app-add-product> -->
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
<!-- Edit sale Modal -->



    