<!-- <div class="container shadow-top p-2 rounded"></div> -->
<div class="container my-5 text-center">

    <!--Section: Content-->
    <section class="text-center">

        <!-- Section heading -->
        <h3 class="font-weight-bold mb-4 pb-2"><i class="fas fa-star text-warning mx-1"></i> ¡Los productos más populares! <i
                class="fas fa-star text-warning mx-1"></i></h3>
        <!-- Section description -->
        <p class="grey-text w-responsive mx-auto mb-4">Estos son nuestros productos personalizados más populares</p>
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 card-product-grid" *ngFor="let product of productsPopular">
                <a [routerLink]="['/detail-product', product._id]" class=" waves-effect waves-light"><img
                        src="{{product.image}}" class="img-fluid" alt=""></a>

                <h1 class="mb-1 mt-2 h6"><a [routerLink]="['/detail-product', product._id]"
                        class="font-weight-bold black-text pt-2">{{product.name}}</a></h1>

                <div class="price h5 mt-1">
                    <span *ngIf="product.offer">
                        <small class="mr-1"><s>${{product.price}}</s></small>
                        <strong>${{product.offer}}</strong>
                    </span>

                    <span *ngIf="!product.offer">
                        <strong>${{product.price}}</strong>
                    </span>
                    <!-- ${{product.price}} -->
                </div>


                <span class="badge badge-pill badge-primary m-1">En Stock</span>
                <span class="badge badge-pill badge-secondary m-1" *ngIf="product.offer">¡OFERTA!</span>
                <br>

                <div class="mt-2">
                    <button class="btn btn-outline-primary btn-sm mx-1" [routerLink]="['/detail-product', product._id]">
                        <i class="far fa-eye"></i>
                        Detalle
                    </button>
                    <button class="btn btn-secondary btn-sm mx-1" (click)="addToCart(product._id)">
                        <i class="fas fa-cart-plus"></i>
                        Agregar
                    </button>

                </div>

            </div>
            <!--Grid column-->
        </div>
    </section>

    <button class="btn btn-outline-primary mt-4" [routerLink]="['/products']">
        <i class="fas fa-angle-double-left"></i>
        VER TODOS LOS PRODUCTOS
        <i class="fas fa-angle-double-right"></i>
    </button>


    <!-- TOAST -->
    <div id="modalToast" class="fade show float-sm-left toast mt-5" *ngIf="status == 'success'">
        <div class="" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto">Mensaje</strong>
                <small>1 mins ago</small>
                <button (click)="closeToast()" type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                    aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="toast-body">
                Producto agregado al carrito!
                <a [routerLink]="['/cart']">Puedes verlo aquí.</a>
            </div>
        </div>

    </div>
    <!-- TOAST -->

</div>

<!-- <div class="container shadow p-3 bg-light rounded"></div> -->
<div class="container"><hr></div>