<section class="section-content mt-5">
    <div class="container">

        <header class="section-heading text-center my-5">
            <hr>
            <h2 class="section-title">Productos populares</h2>
        </header><!-- sect-heading -->


        <div class="row">
            <div class="col-md-3">
                <div href="#" class="card card-product-grid text-center p-3 my-2">
                    <a href="#" class="img-wrap"> <img src="../../../assets/products/1.jpg"> </a>
                    <figcaption class="info-wrap">
                        <h6 class="">Just another product name</h6>
                        <span class="badge badge-pill badge-primary m-1">En Stock</span>
                        <span class="badge badge-pill badge-secondary m-1">Oferta</span>
                        <div class="price h5 mt-1">$179.00</div>
                    </figcaption>
                </div>
            </div> <!-- col.// -->

            <div class="col-md-3">
                <div href="#" class="card card-product-grid text-center p-3 my-2">
                    <a href="#" class="img-wrap"> <img src="../../../assets/products/2.jpg"> </a>
                    <figcaption class="info-wrap">
                        <h6 class="">Just another product name</h6>
                        <span class="badge badge-pill badge-primary m-1">En Stock</span>
                        <span class="badge badge-pill badge-secondary m-1">Oferta</span>
                        <div class="price h5 mt-1">$179.00</div>
                    </figcaption>
                </div>
            </div> <!-- col.// -->

            <div class="col-md-3">
                <div href="#" class="card card-product-grid text-center p-3 my-2">
                    <a href="#" class="img-wrap"> <img src="../../../assets/products/3.jpg"> </a>
                    <figcaption class="info-wrap">
                        <h6 class="">Just another product name</h6>
                        <span class="badge badge-pill badge-primary m-1">En Stock</span>
                        <span class="badge badge-pill badge-secondary m-1">Oferta</span>
                        <div class="price h5 mt-1">$179.00</div>
                    </figcaption>
                </div>
            </div> <!-- col.// -->

            <div class="col-md-3">
                <div href="#" class="card card-product-grid text-center p-3 my-2">
                    <a href="#" class="img-wrap"> <img src="../../../assets/products/4.jpg"> </a>
                    <figcaption class="info-wrap">
                        <h6 class="">Just another product name</h6>
                        <span class="badge badge-pill badge-primary m-1">En Stock</span>
                        <span class="badge badge-pill badge-secondary m-1">Oferta</span>
                        <div class="price h5 mt-1">$179.00</div>
                    </figcaption>
                </div>
            </div> <!-- col.// -->

        </div> <!-- row.// -->

    </div> <!-- container .//  -->
</section>