<!-- Section: Block Content -->
<section class="mx-auto px-0">

    <div class="my-2">
        <div class="card card-list">
            <div class="card-header white d-flex justify-content-between align-items-center py-3">
                <p class="h5-responsive font-weight-bold mb-0">Lista de categorias</p>
                <ul class="list-unstyled d-flex align-items-center mb-0">
                    <li><i class="far fa-window-minimize fa-sm pl-3"></i></li>
                    <li><i class="fas fa-times fa-sm pl-3"></i></li>
                </ul>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr *ngFor="let category of categories" class=" text-left">
                        <th scope="row"><span class="text-primary text-left">{{category.name}}</span></th>
                        <td>
                            <i class="fas fa-edit" [routerLink]="['edit-category', category._id]"></i>
                            <i class="fas fa-trash-alt ml-1" (click)="deleteCategory(category._id)"></i>
                        </td>

                    </tr>
                </table>
            </div>
            <div class="card-footer white py-3 d-flex justify-content-between">
                <button data-toggle="modal" data-target="#newCategoryModal"
                    class="btn btn-primary btn-md px-3 my-0 mr-0"><i class="fas fa-plus mr-2"></i> Nueva
                    Categoría</button>
            </div>
        </div>
    </div>

</section>
<!-- Section: Block Content -->

<!-- New product Modal -->
<div class="modal fade" id="newCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">

    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-xl" role="document">


        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Nueva categoría</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ngOnInit()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-add-category></app-add-category>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
<!-- Central Modal Small -->