<section class="my-2 product-box mx-0">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card card-list">
                <div class="card-header white d-flex justify-content-between align-items-center py-3">
                    <p class="h5-responsive font-weight-bold mb-0">Lista de productos</p>
                    <ul class="list-unstyled d-flex align-items-center mb-0">
                    </ul>
                </div>
                <!-- Filters -->
                <div class="text-center mb-3 mt-2">
                    <div class="px-2 form-inline">
                        <div class="form-check px-2">
                            <input type="radio" class="form-check-input" id="materialGroupExample1"
                                name="groupOfMaterialRadios" value="all" (click)="updateFilter('all')">
                            <label class="form-check-label" for="materialGroupExample1">Todo</label>
                        </div>
                        <div class="form-check px-2" *ngFor="let category of categories">
                            <input type="radio" class="form-check-input" id="materialGroupExample2"
                                name="groupOfMaterialRadios" value="category.name"
                                (click)="updateFilter(category.name)">
                            <label class="form-check-label">{{category.name}}</label>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="card-body scrollspy-example scrollbar-success" *ngIf="filter == 'all'">
                    <div *ngFor="let product of products" class="mr-2 text-left">
                        <div class="row py-0">

                            <div class="col-1 align-baseline">
                                <img src="{{product.image}}" class="img-fluid" alt="{{product.imageAlt}}">
                            </div>

                            <div class="col-6 ">
                                <p class="mx-2">{{product.name}}</p>
                                <span (click)="setActivar(product)">
                                    <span class="badge badge-danger mx-1" *ngIf="!product.activated">Desactivado</span>
                                    <span class="badge badge-success mx-1" *ngIf="product.activated">Activado</span>
                                </span>

                                <span *ngIf="product.featured"><i class="fas fa-star text-warning mx-1"></i></span>
                            </div>

                            <div class="col-3 text-right">
                                <div class="row">
                                    <span *ngIf="product.offer">
                                        <h6 class="mx-2 text-black-50">$ {{product.offer}}</h6>
                                    </span>
                                    <span *ngIf="product.offer"><s>
                                            <h6 class="mx-2">$ {{product.price}}</h6>
                                        </s></span>
                                    <h6 *ngIf="!product.offer" class="mx-2">$ {{product.price}}</h6>
                                </div>
                            </div>

                            <div class="row col align-baseline text-right">
                                <!-- <i class="fas fa-edit" [routerLink]="['edit-product', product._id]"></i> -->
                                <i class="fas fa-trash-alt ml-1" (click)="deleteProduct(product._id)"></i>
                            </div>

                        </div>

                        <span class="row py-0 ml-2">
                            <p class="mx-1" *ngFor="let talles of product.stockTalles">
                                <span class="">
                                    <a class="badge badge-info">{{talles}}</a>
                                </span>
                            </p>
                        </span>
                        <div class="separator py-0">
                            <hr>
                        </div>
                    </div>
                </div>


                <div class="card-body scrollspy-example scrollbar-success" *ngIf="filter != 'all'">
                    <div *ngFor="let product of productsFiltered" class="mr-2 text-left">
                        <div class="row py-0">
                            <div class="col-1 align-baseline">
                                <img src="{{product.image}}" class="img-fluid" alt="{{product.imageAlt}}">
                            </div>
                            <div class="col-6 ">
                                <p class="mx-2">{{product.name}}</p>
                                <span (click)="setActivar(product)">
                                    <span class="badge badge-danger mx-1" *ngIf="!product.activated">Desactivado</span>
                                    <span class="badge badge-success mx-1" *ngIf="product.activated">Activado</span>
                                </span>
                                <span *ngIf="product.featured"><i class="fas fa-star text-warning mx-1"></i></span>
                            </div>
                            <div class="col-3 text-right">
                                <div class="row">
                                    <span *ngIf="product.offer">
                                        <h6 class="mx-2 text-black-50">$ {{product.offer}}</h6>
                                    </span>
                                    <span *ngIf="product.offer"><s>
                                            <h6 class="mx-2">$ {{product.price}}</h6>
                                        </s></span>
                                    <h6 *ngIf="!product.offer" class="mx-2">$ {{product.price}}</h6>
                                </div>
                            </div>

                            <div class="row col align-baseline text-right">
                                <!-- <i class="fas fa-edit" [routerLink]="['edit-product', product._id]"></i> -->
                                <i class="fas fa-trash-alt ml-1" (click)="deleteProduct(product._id)"></i>
                            </div>

                        </div>

                        <span class="row py-0 ml-2">
                            <p class="mx-1" *ngFor="let talles of product.stockTalles">
                                <span class="">
                                    <a class="badge badge-info">{{talles}}</a>
                                </span>
                            </p>
                        </span>
                        <div class="separator py-0">
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="card-footer white py-3 d-flex justify-content-between">
                    <button data-toggle="modal" data-target="#newProductModal"
                        class="btn btn-primary btn-md px-3 my-0 mr-0"><i class="fas fa-plus mr-2"></i> Nuevo
                        producto</button>
                </div>
            </div>
        </div>
    </div>
</section>